#bodyC {
    display: flex;
    justify-content: center;
    align-items: center;
}


#container {
    display: flex;
    width: 600px;
    height: 600px;
    border: 4px solid black;
    gap: 2px;
}

.row {
    flex: 1;
    padding: 2px;
    background-color: brown;
}